# <TEMPLATED FILE!>
# This file comes from the templates at https://github.com/konflux-ci/task-repo-shared-ci.
# Please consider sending a PR upstream instead of editing the file directly.
# See the SHARED-CI.md document in this repo for more details.

name: Check task migrations
"on":
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1.12.0
        with:
          cluster_name: kind
      - uses: tektoncd/actions/setup-tektoncd@main
        id: setup-tektoncd
        with:
          pipeline_version: latest
        continue-on-error: true
      - name: Describe setup-tektoncd failure
        if: steps.setup-tektoncd.outcome != 'success'
        run: |
          curl -s https://api.github.com/repos/tektoncd/pipeline/releases/latest | jq
          echo "The previous action setup-tektoncd seems to have failed due to a known issue caused by hitting the rate-limit"
          echo "For more information, follow the following issue: https://github.com/tektoncd/actions/issues/9"
          echo "The only known workaround at the moment is to re-run this workflow."
          exit 1
      - name: Run check
        run: |
          DEBIAN_FRONTEND=noninteractive \
          sudo apt-get install -y --no-install-recommends \
              tzdata python3-ruamel.yaml

          kubectl get all -n tekton-pipelines
          # Require name main
          git branch main origin/main
          # Make `git branch --show-current` works.
          git checkout -b pr-verify
          export IN_CLUSTER=1
          bash ./hack/validate-migration.sh

      - name: Check MIGRATION.md
        run: |
          EXIT=0
          for TASK_DIR in $(ls task); do
            # Do not check on initial version of task
            for VERSION in $(ls -d task/$TASK_DIR/*/ | sort --version-sort | tail -n+2); do
              MIGRATION_FILE=${VERSION}MIGRATION.md
              if [ ! -f $MIGRATION_FILE ]; then
                 echo "Missing file $MIGRATION_FILE"
                 EXIT=1
              fi
            done
          done
          exit $EXIT

