name: Run tests

'on':
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          # Python scripts should support python>=3.11
          python-version: "3.11"

      - name: Set up virtualenv
        run: |
          make PYTHON_VERSION=3.11 venv

      - name: Run tests
        run: |
          make test
